/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 0 2em;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f3e7e9), color-stop(99%, #e3eeff), to(#e3eeff));
    background-image: -o-linear-gradient(bottom, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    min-height: 100vh;
}

#wrapper{
    max-width: 35em;
    min-width: 18em;
    margin: 4em auto;
    -webkit-box-shadow: 2px 11px 14px -4px rgba(0,0,0,0.5);
            box-shadow: 2px 11px 14px -4px rgba(0,0,0,0.5);

    border-radius: 20px;
    background-color: white;
}

select,input {
    -webkit-appearance: none;
    border: none;
    color: #444;
    background-color: #eee;
    padding: .5em;
    border-radius: 4px;
    text-decoration: none;
    margin-right: .5em;

}

input:focus,
select:focus, select:active {
    outline: none;
}

header .type{
    padding: 1em;
    border-bottom: 2px solid #ccc;
}

header .search{
    padding: 1em;
}

main article {
    position: relative;
    padding: 1.5em;
    /* box-shadow:0 0 4px black; */
    -webkit-box-shadow: 2px 11px 14px -4px rgba(0,0,0,0.5);
            box-shadow: 2px 11px 14px -4px rgba(0,0,0,0.5);
    color: white;
    text-shadow: 1px 1px 1px rgb(120, 120, 120,.4);
}

main article:last-child{
    -webkit-box-shadow: none;
            box-shadow: none;
}

.urgent{
    background-color: rgb(52, 199, 89, 0.8);
}

.urgent:hover{
    background-color: rgb(52, 199, 89, 1);
}

.daily{
    background-color: rgb(90, 200, 250, 0.8);
}

.daily:hover{
    background-color: rgb(90, 200, 250, 1);
}

.monthly{
    background-color: rgb(255, 204, 0,0.8);
}

.monthly:hover{
    background-color: rgb(255, 204, 0,1);
}

main article a{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background-color: rgb(255, 59, 48);
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 1.5em;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
main article a:hover{
    width: 100%;
    -webkit-box-shadow: inset 10px 0px 40px -10px rgba(255,255,255,1);
            box-shadow: inset 10px 0px 40px -10px rgba(255,255,255,1);
}

footer{
	padding: 10px;
    font-size: .7em;
    color: dimgray;
    text-align: right;
}

@media only screen and (max-width: 360px){
    form{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    form>input, form>select{
        margin-bottom: 5px;
        text-align: left;
    }
}